<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ps\Faq\Api\FaqRepositoryInterface"
        type="Ps\Faq\Model\FaqRepository"/>
    <preference for="Ps\Faq\Api\Data\FaqInterface"
        type="Ps\Faq\Model\Faq"/>
    <preference for="Ps\Faq\Api\Data\FaqSearchResultsInterface"
        type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Ps\Faq\Model\ResourceModel\Faq\Grid\Collection"
        type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">faq_list</argument>
            <argument name="resourceModel"
                xsi:type="string">Ps\Faq\Model\ResourceModel\Faq\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="faq_listing_data_source"
                    xsi:type="string">Ps\Faq\Model\ResourceModel\Faq\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
